{% extends '@CleverAgeEAVManagerLayout/base.html.twig' %}

{% import '@CleverAgeEAVManagerLayout/Macros/utilities.html.twig' as utilities %}

{% block metas %}
    <meta name="description" content="BlueBear Project">
    <meta name="author" content="BlueBear Gaming Corporation">
{% endblock %}

{% block title %}BlueBear/Model{{ title is defined ? ' - ' ~ title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/bundles/bluebearworldbrowser/css/map.css') }}" type="text/css" rel="stylesheet" media="screen"/>
{% endblock %}

{% block main_menu_home_link %}
    <a class="navbar-brand" href="{{ path('eavmanager_layout.dashboard') }}">BlueBear/Model</a>
{% endblock %}

{#{% block main_menu_application %}#}
    {#<ul class="nav navbar-nav">#}
        {#{% if is_granted('ROLE_DATA_MANAGER') %}#}
            {# PUT YOUR ADMINS MENU HERE #}
            {#{{ utilities.admin_menu_icon_link('globe', 'Worlds', 'world', 'list') }}#}
            {#{{ utilities.admin_menu_icon_link('sitemap', 'Configuration', 'configuration', 'index') }}#}
            {#{% if is_granted('ROLE_MEDIA_MANAGER') %}#}
                {#{{ utilities.admin_menu_icon_link('image', 'Médias', 'media', 'index') }}#}
            {#{% endif %}#}
        {#{% endif %}#}
        {#{% if is_granted('ROLE_USER_MANAGER') %}#}
            {#{{ utilities.admin_menu_icon_link('users', 'Utilisateurs', 'user', 'list') }}#}
        {#{% endif %}#}
    {#</ul>#}
{#{% endblock %}#}
