{% extends '@CleverAgeEAVManagerLayout/base.html.twig' %}

{% import '@CleverAgeEAVManagerLayout/Macros/utilities.html.twig' as utilities %}

{% block metas %}
    <meta name="description" content="BlueBear Project">
    <meta name="author" content="BlueBear Gaming Corporation">
{% endblock %}

{% block title %}BlueBear/Model{{ title is defined ? ' - ' ~ title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/bundles/bluebearworldbrowser/css/map.css') }}" type="text/css" rel="stylesheet" media="screen"/>
{% endblock %}

{% block main_menu_home_link %}
    <a class="navbar-brand" href="{{ path('eavmanager_layout.dashboard') }}">BlueBear/Model</a>
{% endblock %}

{% block families_menu %}
    <hr>
    <ul class="nav nav-pills nav-stacked">
        {% if is_granted('ROLE_DATA_MANAGER') %}
            {{ utilities.admin_menu_icon_link('globe', 'Worlds', 'world', 'list') }}
        {% endif %}
    </ul>
    {{ parent() }}
{% endblock %}
